body {
	background: #faf9f9;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

nav {
	 background: #fff;
}

#home_bloc {
		/*background-image: url(../img/image_1.jpg);*/
		/*background-position: center;*/
	/*background-image: url(../img/image_3.jpg);
	background-position: bottom;*/
		background-size: cover;
		min-height: 100vh;
}

nav .brand-logo,
nav ul a {
	color: #000;
}

#bloc_1 {
  padding: 90px 0px;
}

/*#bloc_2, #bloc_3 {
	min-height: 100vh;
}*/

#bloc_2 {
	background-color: #553d37;
	padding: 70px 0px;
}

#bloc_2 p {
	color: #fff;
	font-size: 17px;
	/*font-family: 'Inknut Antiqua', serif;*/
}

#bloc_2 img {
		max-width: 80px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 20px 0px;
}

.page-footer {
  padding-top: 20px;
  background-image: url(../img/image_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.page-footer .footer-copyright {
  background: none;
}

#bloc_1 .card-panel {
	/*margin-top: 50vh;*/
	/*transform: translateY(-50%);*/
	background-color: #553d37 !important;
}

#map {
	height: 400px;
	width: 100%;
}

#home_txt {
	font-family: 'Inknut Antiqua', sans-serif;
	font-size: 40px;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	z-index: 10;
	color: #fff;
	padding-left: 35px;
}

.section_prix {
    padding: 70px 0px;
}

.section_prix em {
   font-style: italic;
   margin-left: 15px;
   color: #323232;
}

.section_prix h2 {
	color: #323232;
}

.connexion_page h4 {
		font-family: 'Inknut Antiqua', sans-serif;
		margin-bottom: 40px;
}

.connexion_page {
	padding: 60px 0px;
}

footer,
footer a,
.footer-copyright {
	color: #553d37 !important;
}
    /*background-color: #633b32 !important;*/
