body {
	background: #faf9f9;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

nav {
	 background: #fff;
}


.brand-logo img {
	width: 65px;
	padding-top: 5px;
}

#home_bloc {
		/*background-image: url(../img/image_1.jpg);*/
		/*background-position: center;*/
	/*background-image: url(../img/image_3.jpg);
	background-position: bottom;*/
		background-size: cover;
		min-height: 100vh;
}

nav .brand-logo,
nav ul a {
	color: #000;
}

#bloc_1 {
  padding: 90px 0px;
}

/*#bloc_2, #bloc_3 {
	min-height: 100vh;
}*/

#bloc_2 {
	background-color: #886a63;
	padding: 70px 0px;
}

#bloc_2 p {
	color: #fff;
	font-size: 16px;
	/*font-family: 'Inknut Antiqua', serif;*/
}

#bloc_2 img {
		max-width: 80px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 20px 0px;
}

.page-footer {
  padding-top: 20px;
  background-image: url(../img/image_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.page-footer .footer-copyright {
  background: none;
}

#bloc_1 .card-panel {
	/*margin-top: 50vh;*/
	/*transform: translateY(-50%);*/
	background-color: #886a63 !important;
}

#map {
	height: 400px;
	width: 100%;
}

#home_txt {
	font-family: 'Inknut Antiqua', sans-serif;
	font-size: 40px;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	z-index: 10;
	color: #fff;
	padding-left: 35px;
}

.section_prix {
    padding: 70px 0px;
}

.section_prix em {
   font-style: italic;
   margin-left: 15px;
   color: #323232;
}



.section_prix h2 {
	color: #323232;
}

.connexion_page h4 {
		font-family: 'Inknut Antiqua', sans-serif;
		margin-bottom: 40px;
}

.connexion_page {
	padding: 60px 0px;
	background-image: url(../img/image_4.jpg);
	background-size: cover;
}

.connexion_page .card {
    padding: 20px 20px 40px 20px;
}

.page-footer-2 {
	padding-top: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background: white;
}

footer,
footer a,
.footer-copyright {
	color: #554643 !important;
}

[type="checkbox"].filled-in:checked+label:after{
		border: 2px solid #886a63;
		background-color: #886a63;
		/*border: 2px solid #f18972;
		background-color: #f18972;*/
}

[type="checkbox"].filled-in:checked+label:before{
	/*border-right: 2px solid #886a63;
	border-bottom: 2px solid #886a63;*/
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.typed-fade-out{
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}

.resa span {
	font-weight: bold;
}

.picker__weekday-display {
  background-color: #927d72;
}

.picker__date-display {
  text-align: center;
  background-color: #a78e81;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
		background-color: #4f362c;
}

.picker__close, .picker__today {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: #99796b;
}

.btn {
	background-color: #7b6a58;
}

.btn:hover {
	background-color: #554b40;
}
